
.tecnico-badge {
    font-size: 0.9rem;
    margin:3px
}

   .firma-box {
  width: 100%;
  aspect-ratio: 2/1;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 4px;
  background-color: #f9f9f9;
  touch-action: none;
}

.firma-box canvas {
  width: 100% !important;
  height: 160px !important;
  display: block;
  border-radius: 6px;
  border: 1px solid #ced4da;
  touch-action: none; /* Evita el desplazamiento al dibujar en dispositivos táctiles */
 } 

.foto-miniatura {
  width: 100%;
  height: 120px;
  object-fit: cover;
}


/* Opción ultra-segura: apuntamos directamente a los elementos inválidos dentro del formulario con error */
form.enviado-con-errores input:invalid,
form.enviado-con-errores select:invalid,
form.enviado-con-errores textarea:invalid {
    border: 2px solid #ff4d4d !important;
    outline: none !important; /* Quita el borde azul por defecto de Chrome/Edge */
    background-color: #fff2f2 !important;
}





